:root {
  font-family: sans-serif;
}

html {
  scroll-timeline: --page-scroll;
}

html,
body {
  overscroll-behavior: none;
}

body,
h1,
p {
  margin: 0;
}

@keyframes lighten-sky-then-darken {
  0% {
    filter: brightness(15%);
  }

  20%,
  30% {
    filter: brightness(100%);
  }

  70%,
  80% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(10%);
  }
}

#sky {
  background-color: #66f;
  height: 1000vh;
  width: 100%;
  animation: lighten-sky-then-darken linear;
  animation-timeline: --page-scroll;
}

@keyframes raise-sun {
  0% {
    top: 50vh;
  }

  20%,
  100% {
    top: 0;
  }
}

#sun-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: raise-sun linear;
  animation-timeline: --page-scroll;
}

@keyframes lower-ground {
  0% {
    transform: scaleY(1);
    filter: brightness(20%);
  }

  20%,
  100% {
    transform: scaleY(0);
    filter: brightness(100%);
  }
}

#ground {
  background-color: #070;
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 50vh;
  z-index: 3;
  transform-origin: bottom;
  animation: lower-ground linear;
  animation-timeline: --page-scroll;
}

#sun-svg {
  transform: rotate(-13deg);
}

@keyframes hide-sun {
  0%,
  30% {
    x: 0%;
    width: 100%;
  }

  70%,
  100% {
    x: 50%;
    width: 0%;
  }
}

#sun-visibility {
  animation: hide-sun ease-in-out;
  animation-timeline: --page-scroll;
}

@keyframes turn-dyson-blue {
  0%,
  80% {
    fill: #000;
  }

  100% {
    fill: #113;
  }
}

#dyson {
  animation: turn-dyson-blue linear;
  animation-timeline: --page-scroll;
}
