:root {
  font-family: sans-serif;
}

html {
  scroll-timeline: --page-scroll;
}

html,
body {
  overscroll-behavior: none;
}

body,
h1,
p {
  margin: 0;
}

@keyframes lighten-sky-then-darken {
  0% {
    filter: brightness(20%);
  }

  10%,
  15% {
    filter: brightness(100%);
  }

  70%,
  80% {
    filter: brightness(0);
  }

  100% {
    filter: brightness(15%);
  }
}

#sky {
  background-color: #66f;
  height: 4000vh;
  width: 100%;
  animation: lighten-sky-then-darken linear;
  animation-timeline: --page-scroll;
}

#start-hint-container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes bounce {
  0% {
    margin-top: 1.5rem;
  }

  100% {
    margin-top: 2.5rem;
  }
}

@keyframes hide-start-hint {
  0% {
    filter: opacity(100%);
  }

  1%,
  100% {
    filter: opacity(0%);
  }
}

#start-hint {
  margin: 1.5rem;
  padding: 1rem 1.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  font-family: monospace;
  color: rgb(238 238 238 / 85%);
  border-radius: 30px;
  box-shadow:
    0 0 20px rgb(238 238 238 / 60%),
    0 0 15px rgb(238 238 238 / 50%) inset;
  animation:
    1s ease-in-out 0s infinite alternate bounce,
    hide-start-hint linear;
  animation-timeline: auto, --page-scroll;
}

@keyframes narration {
  0%,
  20% {
    content: "Another beautiful sunrise!";
  }

  30% {
    content: "It may be our last.";
  }

  45% {
    content: "An advanced extraterrestrial entity has targeted our little star.";
  }

  60% {
    content: "Feverish preparations have been made to protect mother earth, but...";
  }

  85% {
    content: "The future is uncertain.";
  }

  95%,
  100% {
    content: "Help!!";
  }
}

#narration-container {
  flex: 1;
}

#narration {
  padding: 3rem;
  color: #eee;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: monospace;
}

#narration::before {
  content: "";
  animation: narration linear;
  animation-timeline: --page-scroll;
}

@keyframes raise-sun {
  0% {
    top: 50vh;
  }

  10%,
  100% {
    top: 0;
  }
}

#sun-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: raise-sun linear;
  animation-timeline: --page-scroll;
}

@media (orientation: portrait) {
  #sun-container {
    flex-direction: column;
  }
}

@keyframes lower-ground {
  0% {
    transform: scaleY(1);
    filter: brightness(25%);
  }

  10%,
  100% {
    transform: scaleY(0);
    filter: brightness(100%);
  }
}

#ground {
  background-color: #070;
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 50vh;
  z-index: 3;
  transform-origin: bottom;
  animation: lower-ground linear;
  animation-timeline: --page-scroll;
}

@keyframes blur-dyson {
  0%,
  80% {
    filter: blur(0);
  }

  100% {
    filter: blur(5px);
  }
}

#sun-svg {
  flex: 1;
  transform: rotate(-13deg);
  animation: blur-dyson linear;
  animation-timeline: --page-scroll;
}

#spacer {
  flex: 1;
}

@keyframes hide-sun {
  0%,
  15% {
    x: 0%;
    width: 100%;
  }

  70%,
  100% {
    x: 50%;
    width: 0%;
  }
}

#sun-visibility {
  animation: hide-sun ease-in-out;
  animation-timeline: --page-scroll;
}

@keyframes turn-dyson-blue {
  0%,
  80% {
    fill: #000;
  }

  100% {
    fill: #224;
  }
}

#dyson {
  animation: turn-dyson-blue linear;
  animation-timeline: --page-scroll;
}

@keyframes appear-at-end {
  0%,
  95% {
    filter: opacity(0%);
  }

  100% {
    filter: opacity(100%);
  }
}

#btn-play-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-play {
  text-decoration: none;
  color: rgb(34 34 68 / 80%);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: monospace;
  padding: 1rem 1.5rem;
  background-color: rgb(238 238 238 / 70%);
  border-radius: 30px;
  box-shadow: 0 0 100px 10px rgb(238 238 238 / 90%);
  animation: appear-at-end linear;
  animation-timeline: --page-scroll;

  &:hover {
    color: rgb(34 34 68 / 70%);
    background-color: rgb(238 238 238 / 80%);
    box-shadow: 0 0 100px 10px rgb(238 238 238);
  }
}
