:root {
  font-family: sans-serif;
}

h1,
p {
  margin: 0;
}

body {
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#icon-links {
  display: flex;
  gap: 1.5rem;

  a {
    text-decoration: none;
    font-size: 0;

    img {
      height: 2rem;

      &.gray-icon {
        filter: invert(30%);
      }
    }
  }
}

#game-link {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: 10px;
}
