:root {
  font-family: system-ui, sans-serif;
}

body,
h1,
p {
  margin: 0;
}

body {
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#icon-links {
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    font-size: 0;

    img {
      height: 1.5rem;

      &.gray-icon {
        filter: invert(30%);
      }
    }
  }
}
